*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    /* font-weight: 300; */
    scroll-behavior: smooth;
    color : white;
}

body{
    background-color : #000e1b;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    overflow: auto;
    overflow-x: hidden;
}

#page-1{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vb;
    padding: 10px;
    margin: 20px auto;
    background-color : #fefffe33;
    text-align: center;
    border-radius: 8px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /* background-color : black; */
    padding: 10px;
    width: auto;
}

#mainTitle{
    justify-self:center;
    text-align: center;
    position: relative;
    font-size: 40px;
    font-weight: 900;
    margin: auto;
}
.fa-clock-rotate-left{
    font-size: 25px;
    color: #092635;
    margin-right: 10px;
}

.mainContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items : center;
}
.fa-copy{
    font-size: larger;
    margin: 0px 5px 0px 5px;
}
.fa-copy:active{
    color : green;
}

.container p {
    align-self: start;
    font-size: 15px;
    text-align: start;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ;
}

#qrText{
    padding-left: 10px;
    width: 90%;
    height: 40px;
    border : none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ;
    color: black;
}

.btns{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #092635;
    border :none;
    margin-bottom: 10px;
    transition: margin 1s ;
}

.btns:active{
    background-color: rgb(0, 0, 0);
}

.imgBox{
    margin: 0px;
    padding: 0px;
}

.progress {
    width: 200px;
    height: 17.6px;
    border-radius: 16px;
    color: #0a0a0d;
    border: 1.6px solid;
    position: relative;
    margin: 30px; 
}  
.progress::before {
    content: "";
    position: absolute;
    margin: 1px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: AniProgress 4s infinite; 
} 
@keyframes AniProgress {
    100% {
        inset: 0;
    }
}

#historyTitle{
    margin: 50px 0px 50px 0px;
    text-align: center;
}


.historyBox{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    justify-content: space-evenly;
    margin: 10px auto;
    background-color : #fefffe33;
    border-radius : 5px;

}


.imgURL{
    margin-top:10px ;
    text-decoration: none;
}


#page-2{
    min-height: 100vh;
    max-height: auto;
}

.historyImg{
    width: 150px;
    margin-top: 10px;
    transition: all 1s ;
}

.afterdelete{
    text-align: center;
    font-size: 20px;
}

#qrImg{
    margin: 20px;
}
.color-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}

.color-box p{
    font-weight: 400;
}
#color-input{
    border-radius : 5px;
    padding: 0;
    border : none;
    background-color : rgba(188, 215, 15, 0);
    color : rgb(68, 68, 84);
}

.empty-history{
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    text-decoration: underline;
    color : red;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius : 10px;
    background-color: #092635;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: rgb(158, 200, 185);
}


@media screen and  (min-width:300px) and  (max-width :576px){
    body{
        width: 100%;
        align-items : center;
        text-align: center;
    }
    .navbar{
        display: none;
    }

    #mainTitle{
        display: none;
        margin-left: 23%;
        width: 50%;
        font-size: 1.5rem;
    }
    .container{
        width: 80%;
        margin: 80px auto;
    }
    #historyTitle{
        font-size: 20px;
    }
    .historyImg{
        margin: 10px auto;
    }
    .historyBox{
        padding: 5px;
        width: 80%;
        overflow: hidden;
    }
    .imgURL{
        font-size: 10px;
    }
    /* .addBox{
        border-radius: 5px;
        padding: 10px;
        min-height: 50vh;
        max-height: auto;
        margin: 10px;
    } */
    .empty-history{
        font-size: 20px;
    }
}